@import '../../sass/lib';
.case-floor {
    width: 100%;
    padding-top: 32px;
    .floor-item {
        width: 100%;
        height: 264px;
        background: #fff;
        overflow: hidden;
        position: relative;
        margin-bottom: 33px;
    }
    .floor-left {
        width: 245px;
        height: 100%;
        float: left;
        margin-right: -100%;
        color: #fff;
        .title {
            font-size: 26px;
            text-align: center;
            padding-top: 41px;
            @include singleline;
        }
        .intro {
            height: 72px;
            padding: 20px 32px;
            font-size: 18px;
            line-height: 2;
            overflow: hidden;
        }
        .btn {
            position: absolute;
            width: 125px;
            height: 42px;
            top: 177px;
            left: 51px;
            font-size: 18px;
            line-height: 42px;
            color: #fff;
            text-align: center;
            border: 1px solid #fff;
            @include border-radius(21px);
        }
    }
    .floor-right {
        padding-left: 245px;
        overflow: hidden;
    }
    .prod-item {
        margin: 39px 0 0 66px;
        float: left;
        width: 230px;
        height: 73px;
        _display: inline;
        .img {
            width: 73px;
            height: 100%;
            overflow: hidden;
            float: left;
            margin-right: -100%;
        }
        .text {
            padding-left: 85px;
        }
        h4 {
            font-size: 18px;
            font-weight: normal;
            padding-top: 12px;
            margin-bottom: 18px;
            @include singleline;
        }
        p {
            color: $colorGray;
            @include singleline;
        }
    }
}