@import '../../sass/lib';
.help {
    padding-top: 20px;
    margin-bottom: 22px;
    .tab-switch-page {
        padding-top: 50px;
        padding-bottom: 26px;
        line-height: 1.5;
    }
    .title-s1 {
        margin-bottom: 24px;
    }
}
.coop-resource,
.contact,
.agreements {
    p {
        margin-bottom: 24px;
        font-size: 14px;
    }
}
.contact {
    p {
        padding-left: 76px;
    }
}
.agreements {
    p {
        line-height: 1.8;
    }
    .title,
    .subtitle {
        font-size: 20px;
        text-align: center;
    }
    .subtitle {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 24px;
    }
}